<div>
  <form [formGroup]="todoForm" (ngSubmit)="addTask()" class="task-form">
    <input formControlName="title" placeholder="Add your task here .." class="task-input">
    <button type="submit" id="submit-btn">Add</button>
  </form>

  <input type="text" placeholder="Search tasks..." (input)="searchTasks($event)" class="task-input search-input">

  <div *ngIf="todos.length > 0; else noTasks">
    <table class="task-table">
      <thead>
        <tr>
          <th>Task</th>
          <th>Completed</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of filteredTodos; let i = index">
          <app-todo-item
            [todo]="todo"
            [index]="i"
            (completeTask)="isComplete($event)"
            (editTask)="editTask($event)"
            (saveTask)="saveTask($event)"
            (cancelEdit)="cancelEdit($event)"
            (deleteTask)="deleteTask($event)">
          </app-todo-item>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noTasks>
    <p id="no-task">No tasks available</p>
  </ng-template>
</div>